* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --color-bg: #354259;
    --color-primary: #fde3ed;
    --color-secondary: #F9F5F6;
    --color-accent: #fb629a;
    --shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --shadow-strong: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    /* background: #d7cdcd; */
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.box {
    background: radial-gradient(circle, rgba(219, 163, 187, 1) 0%, rgba(182, 214, 255, 1) 93%, rgba(148, 187, 233, 1) 100%);
    width: 450px;
    /* max-width: 10px; */
    height: 600px;
    padding: 20px 35px;
    text-align: center;
}

nav {
    justify-content: space-between;
    margin-bottom: 30px;
    display: flex;
}

nav .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #8aa9e3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.24);
}

.image {
    width: 240px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.24);
}

.box h1 {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 2px;
}

.box p {
    font-size: 15px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    height: 6px;
    width: 100%;
    background: #dba5c0;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #d67ba9;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

#audio {
    padding: 2vh;
}


.controls{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
    gap: 20px;

}

.controls div{
    height: 40px;
    width: 40px;
    background: #fff;
    margin: 10px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #92a8ef;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(255,26,26,0.22);

}

.controls div:nth-child(2){
    transform: scale(1.5);
    background: #fff;
    color: #f53192;
}